*{
  padding: 0;
  margin:0;
  font-family:  "Work Sans", sans-serif;
}
/* shared style */
.btn{
  background-color: #FF900E;
  color: #ffffff;
  padding: 20px 15px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background-color: #e07e0d;
}


.hero-title p,
.team-text p,
.features-text-title p
{
  color:#727272;
  line-height: 26px;
  margin-bottom:53px;
}


header{
  background-color: #FF900E16;
  max-width: 100%;
}
nav{
  max-width: 1462px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding:30px 0 115px 0;
}
.logo h1{
  font-size: 45px;
  padding: 0 20px;
}
.navber ul {
  display: flex;
  gap: 30px;
  padding:20px;
}
.navber ul li{
  list-style: none;
}
.navber ul li a{
  text-decoration: none;
  padding: 10px 15px;
  color: #424242;
}
.navber ul li a:hover{
  background-color: blanchedalmond;
}
/* for hero aria */
.hero{
  max-width: 1462px;
  text-align: center;
  padding: 30px;
  margin: auto;
}
.hero .hero-title{
  max-width: 772px;
  margin: 20px auto;
}
.hero .hero-title h2{
  font-size: 65px; 
  margin-bottom:35px;
}

.hero-img img{
  width: 100%;
}


/* team area */
.team-container{
  max-width: 1462px;
  margin: 50px auto;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding:30px;
}
.team-container .team-imgs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.team-text h2{
  font-size: 45px;
  color: #131313;
  margin-bottom:24px;
}
 /* features area */
#features{
  max-width: 1462px;
  margin: 50px auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.features-text-title{
  max-width: 682px;
  margin-bottom: 30px;
}
.features-text-title h3{
  font-size: 45px;
  border-left:5px solid #FF900E;
  padding-left: 20px;
  margin-bottom: 24px;
}
.features-card-container .features-card{
  max-width: 586px;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 0 0 10px #13131310;
}
.features-card h4{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.features-card p
{
  color:#727272;
  line-height: 26px;
}
.features-model {
  /* display: inline; */
}
.features-model .model-exp{
  background-color: #FF900E;
  text-align: center;
  width: 30%;
  padding: 5%;
  border-radius: 10px ;
  position: relative;
  left: -100px;
  top: -100px;
}
.model-exp h5{
  font-size: 3rem ;
  color: #ffffff;
}
.model-exp span{
  color: #ffffff;
}




#facts{
  max-width: 1462px;
  margin: 50px auto 200px auto;
  /* display: none; */
}
.facts-title {
  max-width: 600px;
  padding: 30px;
  margin: 30px 0;
}
.facts-title h2{
  font-size: 45px;
  margin-bottom: 24px;
}
.facts-title p{
  line-height: 24px;
  color: #727272;
}
.facts-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.facts-card {
  border: 1px solid #FF900E;
  width: 200px;
  padding: 40px;
  border-radius: 10px;
}
.facts-card h6{
  font-size: 45px;
}


#sponsor {
  max-width: 1462px;
  margin: 50px auto;
}
.sponsor-title{
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}
.sponsor-title h3{
  font-size: 45px;
  margin-bottom: 30px;

}
.sponsor-title p{
  margin-bottom: 30px;
  color: #727272;
}

.sponsor-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content:space-around ;
  text-align: center;

}
.sponsor-img img{
  /* margin: auto; */
}
footer{
  padding: 15%;
}
.footer{
  background-color: #FFF4E7;
  /* width: 95%;
  padding: 50px 100px; */
}
.footer p{
  padding: 10%;
  text-align: center;
  color: #727272;

}



/* for desktop screen */
@media screen and (max-width:1280px) {
#features{
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features-text {
  width: 95%;
  margin: auto;
}
.features-model .model-img img{
  width: 90%;
  align-items: center;
} 
.features-text-title,
.features-card{
  margin: auto;
  text-align: center;
}
.features-model .model-exp{
  position: static;
  margin: auto;
}
.model-exp h5{
  font-size: 2rem ;
}
}
/* for Laptop screen */
@media screen and (max-width:992px) {
  nav{
    flex-direction: column;
  text-align: center;
}
.navber ul li{
  gap:15px;
  margin:auto;
}
.navber ul {
  gap:15px;
}
.hero .hero-title h2{
  font-size: 45px;
  margin-bottom:25px;
}
.team-container {
  display: block;
  text-align: center;
}
.team-container .team-imgs img{
  margin: auto;
  width: 100%;
}
.team-container .team-imgs{
  margin-bottom: 40px;
}
.facts-container {
  grid-template-columns: repeat(2 , 1fr);
  margin: auto;
}
.model-exp h5{
  font-size: 28px;
}
}


/* for tablet screen */
@media screen and (max-width:678px) {
  .logo h1{
  font-size: 35px;
}
.hero .hero-title h2{
  font-size: 35px;
  margin-bottom:15px;
}
.hero-title p{
  font-size: 16px;
  line-height: 20px;
  margin-bottom:30px;
}
.team-text h2{
  font-size: 35px;
  margin-bottom:14px;
}
}

/* for phone screen */
@media screen and (max-width:420px) {
    .logo h1{
  font-size: 35px;
}
.hero .hero-title h2{
  font-size: 25px;
  margin-bottom:15px;
}
.navber ul li{
  gap:5px;
}
}